@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Semibold'), local('RF-Dewi-Semibold'),
    /fonts/RFDewi/RFDewi-Semibold.woff2
        url('/fonts/RFDewi/RFDewi-Semibold.woff2') format('woff2'),
        url('/fonts/RFDewi/RFDewi-Semibold.woff') format('woff'),
        url('/fonts/RFDewi/RFDewi-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter'), local('Inter'),
    url('/fonts/Inter/Inter-Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), local('Inter'),
    url('/fonts/Inter/Inter-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}